---
layout: base.njk
title: Privacy policy - CovidTotals.today
---

<section class="container-fluid">
  <div class="container">
    <h1 class="lead">Privacy policy</h1>
    <p><strong>CovidTotals.today (CovidTotals)</strong> is committed to protecting the privacy of its users in whatever way it is accessed, provided or obtained.</p>
    <p>Following statement explains about data collection, its usage and security.</p>

    <h2 class="lead underlined">Cookies</h2>
    <p><strong>CovidTotals</strong> uses <a href="https://en.wikipedia.org/wiki/HTTP_cookie" target="_blank" rel="noopener">cookies</a> to enhance the user experience, track errors and actions taken at different pages for analytics purposes. These cookies are either first-party cookies, set by <strong>CovidTotals</strong> or third-party cookies, set by tools used on the website.</p>
    <p>Here is a rough list of first-party and third-party cookies that may be sent to the user's browser.</p>

    <h3>Google Analytics</h3>
    <ul>
      <li>_gid</li>
      <li>_ga</li>
      <li>_gat_UA-9809111-22</li>
    </ul>

    <h3>Cloudflare</h3>
    <ul>
      <li>__cfduid</li>
    </ul>

    <p><strong>CovidTotals</strong> information at bottom of the page to comply with EU cookie consent law that informs users about the usage of cookies on the website.</p>
    <p><strong>CovidTotals</strong> uses <a href="https://analytics.google.com/" target="_blank" rel="noopener">Google Analytics</a> to record visitor incoming traffic. This helps to improve the dataset according to the relevance to the user’s location, browsers and other factors. Google Analytics may gather different types of information from the user side which could include browser type, location, landing sources and their time on the website. For more information on how this information is used by Google and how much of this information is provided to <strong>CovidTotals</strong>, please read <a href="http://www.google.com/intl/en/privacy/privacy-policy.html" target="_blank" rel="noopener">Google privacy policy</a>.</p>
    <p><strong>CovidTotals</strong> uses <a href="https://cloudflare.com/" target="_blank" rel="noopener">Cloudflare</a> that is an internet proxy service for content delivery or otherwise known as Content-Delivery Network (CDN). Cloudflare enables us to deliver a fast performing website by caching the static assets or files of different types such as images at their servers around the world so it can be delivered as quickly as possible. Cloudflare also helps with the security of the website.</p>
    <h2 class="lead underlined">Third-party contents</h2>
    <p><strong>CovidTotals</strong> often relies on external data, assets to produce a better user experience. Wherever such a case, we try to keep a link back to the original authors, creators and sources according to their license terms.</p>
    <p>The information about Coronavirus (COVID-19) comes from a third-party service <a href="https://disease.sh" target="_blank" rel="noopener">disease.sh</a> via their Application Programming Interface (API). The website updates periodically at least once every 24 hours to reflect the up-to-date information.</p>
    <p>This is a live document and it may change with time with addition or update of services and features provided on this website. Read more about our <a href="{{ '/terms-conditions' | absoluteUrl }}">terms of service</a>.</p>
  </div>
</section>