---
layout: base.njk
title: Terms and conditions - CovidTotals.today
---

<section class="container-fluid">
  <div class="container">
    <h1 class="lead">Terms of service</h1>
    <p><strong>CovidTotals.today (CovidTotals)</strong> is an informational platform providing latest figures about Coronavirus (COVID-19) from around the world.</p>
    <p>The data displayed on this platform is fetched from third-party API <a href="https://disease.sh" target="_blank" rel="noopener">disease.sh</a> and is sourced from <a href="https://www.worldometers.info/" target="_blank" rel="noopener">Worldometers</a>.</p>
    <p>The (virus) icons and favicon are by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">flaticon</a></p>
    <p>This is a live document and it may change with time with addition or update of services and features provided on this website. Read more about our <a href="{{ '/privacy-policy' | absoluteUrl }}">privacy policy</a>.</p>
  </div>
</section>