---
layout: base.njk
renderData:
  title: 'Latest Coronavirus COVID-19 figures for {{country.country}}'
  description: 'In past 24 hours, {{country.country}}, {{country.continent}} had {{ country.todayCases|number_format }} new cases, {{ country.todayDeaths|number_format }} deaths and {{ country.todayRecovered|number_format }} recoveries.'
---
{% block schema %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "BreadcrumbList",
      "name": "Breadcrumbs",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@id": "{{ '/' | absoluteUrl }}",
            "name": "Home"
          }
        },
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@id": "{{ '/continents/' | absoluteUrl }}{{ country.continent | slug  }}/",
            "name": "{{ country.continent | safe}}"
          }
        },
        {
          "@type": "ListItem",
          "position": 3,
          "item": {
            "@id": "{{ '/countries/' | absoluteUrl }}{{ country.country | slug }}/",
            "name": "{{ country.country | safe}}"
          }
        }
      ]
    },
    {
      "@type": "SpecialAnnouncement",
      "name": "Latest Coronavirus COVID-19 figures for {{country.country}}",
      "datePosted": "{{ country.updated | date('YYYY-MM-DD[T]HH:mm:ss[Z]') }}",
      "expires": "{{ country.updated | addDate(6, 'hour') | date('YYYY-MM-DD[T]HH:mm:ss[Z]') }}",
      "text": "In past 24 hours, {{country.country}}, {{country.continent}} had {{ country.todayCases|number_format }} new cases, {{ country.todayDeaths|number_format }} deaths and {{ country.todayRecovered|number_format }} recoveries.",
      "url": "{{ '/countries/' | absoluteUrl }}{{ country.country | slug }}/",
      "category": "https://www.wikidata.org/wiki/Q81068910",
      "spatialCoverage": {
        "@type": "Country",
        "name": "{{country.country}}"
      },
      "diseaseSpreadStatistics": {
        "@type": "Dataset",
        "name": "Latest Coronavirus COVID-19 figures for {{country.country}}",
        "description": "In past 24 hours, {{country.country}}, {{country.continent}} had {{ country.todayCases|number_format }} new cases, {{ country.todayDeaths|number_format }} deaths and {{ country.todayRecovered|number_format }} recoveries.",
        "distribution": {
          "@type": "DataDownload",
          "contentUrl": "https://disease.sh/v3/covid-19/countries/{{country.country | slug}}",
          "encodingFormat": "application/json"
        },
        "license": "https://github.com/disease-sh/API/blob/master/LICENSE",
        "creator": [
          {
            "@type": "Organization",
            "name": "Worldometers",
            "url": "https://www.worldometers.info/"
          },
          {
            "@type": "Organization",
            "name": "CSSE at JHU",
            "url": "https://www.arcgis.com/apps/opsdashboard/index.html?fbclid=IwAR0fmrWrAlO4sezEHeT4zY23agRARGdC85uypXcpUfRI3o-LlPDJW8i1ovU#/bda7594740fd40299423467b48e9ecf6"
          }
        ]
      }
    }
  ]
}
</script>
{% endblock %}

<section class="container breadcrumbs">
  <a href="/">Home</a> &rsaquo; <a href="{{ '/continents/' | absoluteUrl }}{{ country.continent | slug  }}/">{{ country.continent | safe }}</a> &rsaquo; {{ country.country | safe }}
</section>

<section class="container-fluid bg-random">
  <section class="container">
    <section>
      <img class="flag" src="{{country.countryInfo.flag}}" width="30px" lazy />
    </section>
    <h1 class="lead">Coronavirus (COVID-19) cases in {{country.country}}</h1>
    <section>
      <h2 class="underlined">Past 24 hours</h2>
      <section class="stats">
        <article class="stats_stat">
          <h3 class="stats_type">Cases</h3>
          <div class="stats_count">{{ country.todayCases|number_format }}</div>
        </article>
        <article class="stats_stat">
          <h3 class="stats_type">Deaths</h3>
          <div class="stats_count">{{ country.todayDeaths|number_format }}</div>
        </article>
        <article class="stats_stat">
          <h3 class="stats_type">Recovered</h3>
          <div class="stats_count">{{ country.todayRecovered|number_format }}</div>
        </article>
      </section>
    </section>
  </section>
</section>

<section class="container">
  <section>
    <h2 class="underlined">Totals</h2>
    <section class="stats">
      <article class="stats_stat">
        <h3 class="stats_type">Cases</h3>
        <div class="stats_count">{{ country.cases|number_format }}</div>
      </article>
      <article class="stats_stat">
        <h3 class="stats_type">Deaths</h3>
        <div class="stats_count">{{ country.deaths|number_format }}</div>
      </article>
      <article class="stats_stat">
        <h3 class="stats_type">Recovered</h3>
        <div class="stats_count">{{ country.recovered|number_format }}</div>
      </article>
    </section>
  </section>
  <section class="last-updated">
    <p>
      <time datetime="{{ updated | date('YYYY-MM-DD[T]HH:mm:ss[Z]') }}">Last updated: {{ country.updated | date('D MMM YYYY HH:mm:ss [UTC]') }}</time>
    </p>
  </section>
</section>