---
layout: base.njk
title: "COVID-19 daily totals for {{country.Country}}"
---

<h1>{{country.Country}} COVID-19 daily totals</h1>

<p>NewConfirmed: {{ country.NewConfirmed }}</p>
<p>TotalConfirmed: {{ country.TotalConfirmed }}</p>
<p>NewDeaths: {{ country.NewDeaths }}</p>
<p>TotalDeaths: {{ country.TotalDeaths }}</p>
<p>NewRecovered: {{ country.NewRecovered }}</p>
<p>TotalRecovered: {{ country.TotalRecovered }}</p>
